.object-item {
    list-style-type: none;
    --toggle-icon-size: 70%;
}

.object-item.known-empty::before {
    content: '○';
    font-size: 80%;
}

.add-new {
    list-style-type: none;
    --toggle-icon-size: 70%;
    --toggle-icon-color: blue;
}
