<div>
  <app-list-component></app-list-component>
  Detail:
  <app-detail-component></app-detail-component>
</div>
@if (activateLoginComponent) {
  <div class="box"><app-login-component></app-login-component></div>
}
@if (activateSetupConfigComponent) {
  <div class="box"><app-setup-configuration></app-setup-configuration></div>
}
<!--
<div class="box"><app-echo></app-echo></div>

<div class="box" *ngIf="activateAnyComponent"><app-direct-message-sender></app-direct-message-sender></div>
-->
<!--
<div class="box" *ngIf="activateAnyComponent><app-direct-message-sender"></app-direct-message-sender></div>
-->

<div class="version-footer">
  <span>Frontend: {{ frontendVersion }}</span>
  <span>Backend: {{ backendVersion }}</span>
</div>
