@for (header of headers; track header.name) {
    <section class="header-group">
        <button
            class="header-toggle toggle-marker"
            type="button"
            [attr.aria-expanded]="isHeaderExpanded(header.name)"
            (click)="toggleHeader(header.name)"
        >
            <span>{{ header.displayName }}</span>
        </button>
        @if (isHeaderExpanded(header.name)) {
            <app-header-sublist
                [header]="header.name"
                [parentObject]="parentObject"
                [visibleItemCount]="sublistVisibleItemCount"
            ></app-header-sublist>
        }
    </section>
}
