@if (getLoginCredentials) {
    <div>
        @if (loginFailureReason) {
            <p class="login-error-reason" role="alert">Login failed: {{ loginFailureReason }}</p>
        }
        <!-- Here, the grand transformation takes place, from a verbose messenger to a silent guardian of entry -->
        <label for="username">Username:</label>
        <input
            type="text"
            [(ngModel)]="username"
            id="username"
            name="username"
            placeholder="Enter thy name, navigator"
        />
        <button (click)="logIn()">Enter</button>
        @if (authenticatedUser) {
            <button type="button" (click)="loginAsAuthenticatedUser()">
                Login as {{ authenticatedUser }}
            </button>
        }
    </div>
}
